.footer{
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: black;
    text-align: left;
    margin-bottom: -2rem;
}
.icon-footer{
    margin-right: 0.2rem!important;
}